---
import { Image } from "astro:assets";

import Bookmarks from "@/components/bookmarks-wrapper.tsx";
import Tag from "@/components/tag.astro";

import { getAllTags } from "@/lib/queries";

import logo from "../assets/logo.svg";

const { data: tags, error: errorFetchingTags } = await getAllTags();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/favicon/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
    <title>The Observatory</title>
  </head>
  <body class="bg-[#020013]">
    <header>
      <div class="mx-auto w-full justify-center">
        <div class="mx-auto max-w-4xl px-8">
          <div class="border-b border-slate-300/30 py-4">
            <a href="https://observatory.kimchiii.space" class="mx-auto">
              <p class="text-xs font-semibold leading-6 text-purple-500">
                The Observatory&nbsp;&mdash;&nbsp;a public directory of my
                bookmarks (constantly updated!)
              </p>
            </a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section>
        <div class="mx-auto max-w-4xl px-8 py-12 lg:py-24">
          <h2 class="text-xl font-bold leading-6 text-sky-50/90 lg:text-4xl">
            The Observatory
          </h2>
          <p class="mt-1 text-base text-sky-50/80">
            There’s a lot of products (DBaaS, FaaS, IaaS, PaaS, SaaS) these
            days. I’ve been maintaining a list of my own for quite some time
            now, and below you’ll see everything I’ve bookmarked over the years.
          </p>
          <div
            class="mx-auto flex w-full max-w-4xl items-center gap-2 overflow-x-auto whitespace-nowrap px-8 py-4"
          >
            {
              !(errorFetchingTags && tags?.tags) &&
                tags?.tags.map(tag => <Tag tag={tag} />)
            }
          </div>
          <Bookmarks client:load />
        </div>
      </section>
    </main>
    <footer class="border-t border-slate-300/30">
      <div class="mx-auto max-w-4xl px-8 py-12 text-lg">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 border-black/10">
          <div class="xl:col-span-3">
            <Image alt="Website logo" src={logo} class="h-12 w-12" />
          </div>
          <div>
            <p class="text-sm text-slate-500">
              &copy; The Observatory. All rights reserved. A project by <a
                class="text-sm transition-colors hover:text-purple-500"
                href="https://kimchiii.space/">Kunall Banerjee</a
              >. This website was built with Astro &amp; Tailwind. Crafted in
              Vancouver, Canada.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
